<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>

    <style>
        .info {color:#3399ff !important;}
        .bg-info {background-color: #3399ff !important}
        .success {color:#00cc66 !important;}
        .bg-success {background-color: #00cc66 !important}
        .warning {color:#ff9900 !important;}
        .bg-warning {background-color: #ff9900 !important}
        .error {color: #ff1100 !important;}
        .bg-error {background-color: #ff6600 !important}
        .primary {color:#3091f2 !important;}
        .bg-primary {background-color: #3091f2 !important}
        .yellow {color:yellow}
        .cyan {color: cyan}
  
        .c {text-align: center !important;}
        .l {text-align: left !important;}
        .r {text-align: right !important;}
        .p10 {padding:10px}
        .p5 {padding: 5px}
        .p8 {padding: 8px}
        .p20 {padding: 20px}
        .pt10 {padding-top: 10px}
        .pl5 {padding-left: 5px}
        .pl10 {padding-left: 10px}
        .p0 {padding:0px}
        .p0 .ivu-card-body {padding:0px !important;}
        .p5 {padding:5px}
        .p5 .ivu-card-body {padding:5px !important;}
  
        .fl {float:left}
        .fr {float: right}
        .mr10 {margin-right: 10px;}
        .mb10 {margin-bottom: 10px}
        .mt10 {margin-top: 10px}
        .mt8 {margin-top: 8px}
        .ml10 {margin-left: 10px}
  
        .h {color: #9ea7b4;font-size: 12px;}
  
        .td4 td, .td4 th {padding: 4px}
        .td2 td, .td2 th {padding: 2px}
        .td2 .ivu-table-cell {padding-left: 2px !important; padding-right: 2px !important;}
  
        .collapseDiv .ivu-collapse {background-color: #fff !important;}
        .collapseDiv .ivu-collapse-item-active {background-color: #f7f7f7 !important;}
        .api tr td:nth-child(2n-1) {
            font-weight: bold
        }
  
        .thin .ivu-form-item {margin-bottom: 10px !important}
        .mini .ivu-form-item {margin-bottom: 3px !important}
        .ivu-collapse-header h2,h3,h4 {display: inline-block}
  
        /*.ivu-modal-wrap:has(> .ivu-modal-confirm) {z-index: 3000}*/
  
        .ivu-notice {z-index:9999 !important;}
        .ivu-message {z-index:9999 !important;}
        .ivu-date-picker-transfer,.ivu-select-dropdown-transfer  {z-index: 9999 !important;}
        /* .ivu-card-head {padding:6px 16px !important;} */
  
        .example-header {
          margin: 5px 0 10px !important;
        }
        .example-header span {background: inherit !important;}
  
        .noFooter .ivu-modal-footer {display: none !important}
    </style>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
